<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="./public/bootstrap.min.css">
    <link rel="stylesheet" href="./public/main.css">
    <script src="./public/jquery.min.js"></script>
    <script src="./public/bootstrap.min.js"></script>
    <script src="./public/d3.min.js"></script>
    <script src="./public/main_yelp.js"></script>
</head>
<html>
<body>
<div id="dataset">
    <div class="form-group">
        <h3>Yelp Explorer</h3>
    </div>
</div>
<div id="container">
    <h3>Query</h3>
    <form id="queryForm">
        <div class="form-group">
            <label for="query"></label>
            <label for="postalCode">Postal Code</label>
            <input type="text" class="form-group" id="postalCode">
            <label for="category">Category i.e. Sushi, Pizza, etc..</label>
            <input type="text" class="form-group" id="category">
            <label for="radius">Radius (meters)</label>
            <input type="text" class="form-group" id="radius"><br>
            <label for="query">Query:</label>
            <textarea class="form-control" rows="10" id="query"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div id="render">
    <h3>Result</h3>
</div>
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>

</html>